* {
    font-family: 'Cedarville Cursive', cursive;
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    justify-content: space-between;

}

li {
    padding-right: 40px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

img {
    height: 200px;
    width: 200px;
    align-content: center;
}

h1 {
    text-align: center;
}

aside {
    display: flex;
    justify-content: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: pink;
    margin: 20px;
}

.bigbox {
    height: 250px;
    width: 400px;
    background-color: pink;
    margin: 20px;
    justify-content: center;
}

.container {
    height: 200px;
    width: 200px;
    background-color: pink;
    margin: 20px;
    text-align: center;
}


/* ********************#2 CSS - Dark to Light Mode*****************************************/
/* Dark Mode */
.toggle {
    border-style: outset;
    width: 200px;
    background-color: rgba(76, 175, 80, 0.15)
  }
  
  .dark {
    background-color:black;
    color: pink;
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
  }
  
 
  .dark li a:hover {
    background-color: #111;
  }
  
  /* Light Mode */
  .light {
    background-color: pink;
    color: black;
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
  }
  
  .light li a {
    color: black;
  }
  
  .light li a:hover {
    background-color: rgb(29, 128, 210);
  }
  
  /* Styling the Switch button */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aquamarine;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .row {
    margin: 20px;
    display: flex;
  }
  .col {
    margin: 20px;
  }

  /* **********#3 CSS - Contact Me Info******************************** */
#name,
#email,
#submit {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
  }

#response {
      padding-bottom: 30px;
  }

  /* *************#4 CSS - Event Bubbling Propagation****************** */
  #outer-divButton {
    background-color: pink;
    cursor: pointer;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 15px;
  }
  
  #inner-divButton {
    height: 60%;
    background-color: lightgray ;
    height: 150px;
    width: 150px;
    margin: 20px;
    color: black;
    font-size: 13px;
  }
  
  #center-divButton {
    background-color:white;
    color: black;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    font-size: 10px;
  }

  /* ************#5 CSS - Data Attributes****************************** */
  .img {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
    transition: 0.3s;
  }
  /* **********#6 CSS - Local Storage****************** */
  .container2 {
    height: 200px;
    width: 200px;
    background-color: pink;
    text-align: center;
}

h2 {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* ***********#7 CSS - Local Storage Objects***************** */
.list2 {
    list-style: none;
    display: block;
  }
  
  .button {
    background-color: #001b44;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    display: block;
    margin: auto;
  }
  
  label {
    color: #212121;
    font-size: 10px;
  }
  
  select {
    font-size: 10px;
    width: 100%;
    background-color: whitesmoke;
  }
  
  .card {
    background-color:	#FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    display: block;
  }
  
  .card::after {
    content: " ";
    display: block;
    clear: both;
  }

  #header3 {
    font-size: 10px;
    padding: 0px;
  }
  
  #msg {
    display: block;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    background-color: whitesmoke;
  }

  #header2 {
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 5px;
    text-align: center;
  }
  